<div class="input-wrap{% if include.data.class %} {{ include.data.class }}{% endif %}">
  <label class="{{ include.data.labelClass | default: 'label-basic' }}" for="{{ include.data.id | default: 'text-example' }}">{{ include.data.text | default: 'Text Input' }}</label>
  <input id="{{ include.data.id | default: 'text-example' }}" name="{{ include.data.id | default: 'text-example' }}" type="{{ include.data.type | default: 'text' }}">
</div>