<h{{ include.level }} id="{{ include.text | slugify }}" class="heading-linked">
  <span class="heading-linked-content">
    {{ include.text }}
    <a class="push-l-1-2" href="#{{ include.text | slugify }}">
      <i class="icon i-1-1-2">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#link" /></svg>
      </i>
    </a>
  </span>
</h{{ include.level }}>
