---
layout: docs
---
<article class="component-content">
  <div class="component-content-header">
    <h1 class="push-1-2">{{ page.title }}</h1>
    <p>{{ page.intro | markdownify }}</p>
  </div>
  <div class="component-content-sections">
    {% for section in page.sections %}
      <section class="component-content-section section-{{ section.type }} pad-t-b-2">
        {% include theme/patterns/headings/linked.liquid text=section.title level=2 %}
        {{ section.description | markdownify }}
        {% if section.examples %}
          <div class="component-examples">
            <div class="output">
              {% if section.startCode %}
                {{ section.startCode }}
              {% endif %}
              {% for example in section.examples %}
                {% if example.width %}
                  <div style="max-width: {{ example.width }}rem;">
                {% endif %}
                  {% include {{ example.component }} data=example %}
                {% if example.width %}
                  </div>
                {% endif %}
              {% endfor %}
              {% if section.endCode %}
                {{ section.endCode }}
              {% endif %}
            </div>
            <pre class="code">
              {%- if section.startCode -%}
                <div class="code-snippet-wrap"><code class="language-html click-to-copy" data-lang="html">{{- section.startCode | replace:"<","&lt;" | replace:">","&gt;" -}}<div class="gutter">{%- for example in section.examples -%}{%- capture code -%}{%- include {{ example.component }} data=example -%}{%- endcapture -%}{{ code | replace:"<","&lt;" | replace:">","&gt;" }}<br>{%- endfor -%}</div>{{- section.endCode | replace:"<","&lt;" | replace:">","&gt;" -}}</code></div>
              {%- else -%}
              {%- for example in section.examples -%}
                <div class="code-snippet-wrap"><code class="language-html click-to-copy" data-lang="html">{%- capture code -%}{%- include {{ example.component }} data=example -%}{%- endcapture -%}{{ code | replace:"<","&lt;" | replace:">","&gt;" }}</code></div>
              {%- endfor -%}
              {%- endif -%}
            </pre>
          </div>
        {% endif %}
      </section>
    {% endfor %}
  </div>
  {{ content }}
</article>
